%tr
  %td{:style => 'width:120px;'}= archive.created_at.to_date.to_s(:default)
  = render :partial => "get_back/aws_archive_retrieval_jobs/#{archive.retrieval_status}", :locals => {:archive => archive}

